files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_install_mysql_connector.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cp /usr/share/java/mysql-connector-java.jar /var/lib/tomcat8/webapps/ROOT/WEB-INF/lib/mysql-connector-java.jar
      chown tomcat:tomcat /var/lib/tomcat8/webapps/ROOT/WEB-INF/lib/mysql-connector-java.jar
